<div class="devi">
  <div class="frame">
    <%= link_to image_tag(devi.plan_url), devi if devi.plan_url %>
  </div>
  <div class="name"><%= devi.name %></div>
  <div class="actions">
    <%= link_to "edit", edit_devi_path(devi) %> |
    <%= link_to "remove", devi, :confirm => 'Are you sure?', :method => :delete %>
  </div>
</div>