<%= s3_uploader_form callback_url: devis_url,
                     callback_method: "POST", 
                     callback_param: "devi[plan_url]",
                     class: "upload-form", 
                     id: "s3-uploader" do %>
  <%= file_field_tag :file, multiple: true %>
<% end %>

<script id="template-upload" type="text/x-tmpl">
<div id="file-{%=o.unique_id%}" class="upload">
  {%=o.name%}
  <div class="progress"><div class="bar" style="width: 0%"></div></div>
</div>
</script>