<%= form_for(@devi, url: "#{@s3_direct_post.url}",  hmtl: { class: "directUpload", multipart: true}) do |f| %>
  <div class="field">
  <%= f.text_field :name %>
  <%= f.file_field :plan_url %>
  </div>
  <%= f.submit %>
<% end %>