<h1>Devi Gallery</h1>

<div id="devis">
  <%= render @devis if @devis %>
</div>
<div class="clear"></div>

<%= s3_uploader_form post: devis_url, as: "devi[plan_url]" do %>
  <%= file_field_tag :file, multiple: true %>
<% end %>

<script id="template-upload" type="text/x-tmpl">
<div class="upload">
  {%=o.name%}
  <div class="progress"><div class="bar" style="width: 0%"></div></div>
</div>
</script>
